.avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
}

.profileBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profileBox img {
    object-fit: cover;
}

.popLamp::before {
    content: '';
    width: 23px;
    height: 23px;
    animation: pulse 1s infinite ease-in-out;
    position: absolute;
    bottom: -1px;
    right: 1px;
    background: #fafafc;
    border-radius: 50%;
}

@keyframes pulse {
    0% {
        transform: scale(0.3);
        opacity: 0;

    }

    50% {
        transform: scale(0.9);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 0.1;
    }
}

.popTitle {
    position: absolute;
    bottom: 3px;
    right: 5px;
    height: 15px;
    width: 15px;
    background: #FFC107;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    z-index: 0;
}

.popTitle:before {
    content: '';
    position: absolute;
    height: 5px;
    width: 5px;
    right: -15.5px;
    top: 5px;
    opacity: 0;
    background: #191923;
    pointer-events: none;
    transform: translateX(20px) rotate(45deg);
    transition: all .4s ease-in-out;
    z-index: 99;
}

.popTitle:after {
    position: relative;
    content: 'I am available for freelance hire';
    width: 115px;
    display: block;
    padding: 5px 10px;
    top: -10px;
    color: #8c8c8e;
    left: 28px;
    font-size: 10px;
    opacity: 0;
    visibility: hidden;
    font-weight: 600;
    background: #191923;
    text-align: left;
    transform: translateX(10px);
    transition: all .4s ease-in-out;
}

.popTitle:hover {
    transform: scale(1);
}

.popTitle:hover:before {
    opacity: 1;
    transform: translateX(0) rotate(45deg);
}

.popTitle:hover:after {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}